@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, sans-serif;
  }
}

body {
  background-image: url(/src/assets/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}